# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary Office files
~$*.docx
~$*.xlsx
~$*.pptx

# Logs
*.log

data/LD2011_2014.txt

data/*.txt
